$themes: (
  light: (
    textColor: white,
    bg: #530c0c,
    logo: white,
    bgSoft: #370e0e,
    textColorSoft: white,
    border: lightgray,
    bgIcon: #a86d5b,
    bgScroll: "",
    hvColor: #cd3e3e,
  ),
  dark: (
    textColor: whitesmoke,
    bg: #222,
    logo: white,
    bgSoft: #28292a,
    textColorSoft: white,
    border: #444,
    bgIcon: #FFFFFF1A,
    hvColor: #37393b,
  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

@mixin mobile {
  @media (max-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 960px) {
    @content;
  }
}
